<%include ../partials/header%>
<div class="container center">
    <div class="center">
        <h1 class="text-success bg-dark">Add a Snake for sale</h1>
    </div>
        
<div class="card well bg-dark text-success font1">
    <form class="center container"action="/snake" method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="snake[type]">Type of snake</label>
                <input type="text" class="form-control" name="snake[type]" pattern=".{3,}" required ></input>
            </div>
            <div class="form-group col-md-6">
                <label for="snake[price]">Price of snake</label>
                <input type="text" class="form-control" name="snake[price]" pattern=".{3,}" required ></input>
            </div>
            <div class="form-group col-md-6">
                <label for="image">Image of snake</label>
                <input type="file" class="form-control" id="image" name="image" accept="image/*" required></input>
            </div>
            <div class="form-group col-md-6">
                <label>sex of snake</label>
                <select name="snake[sex]" class="form-control" pattern=".{1,}" required >
                    <option selected></option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
            <div class="form-group col-md-12">
                <label for="snake[discrip]">Discription of the snake</label>
                <textarea name="snake[discrip]" class="form-control"  pattern=".{3,}" wrap="soft" required ></textarea>
            </div>
                <button class="btn btn-success center" type="submit">Add to site</button>
        </div>
    </form>
        

</div>
<%include ../partials/footer%>