<!DOCTYPE HTML>
<html>
    <head>
            <link rel="shortcut icon" href="">
            
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" >
            <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster" rel="stylesheet">
            <link href="/css/style.css" rel="stylesheet" type="text/css">
                   <title>Southwest Mo Reptiles</title>
    </head>
        <body>
            <div class="ui" id="bottom">
                <div class="ui grey huge fixed menu inverted borderless padded">
                    <div class="ui container">
                      <a href="/snake"class="item"> Home </a>
                      <a href="/snake/admin/new"class="item"> Add Snake </a>
                      <a href="/snake/admin/edit"class="item"> Edit/Delete </a>
                    </div>
                </div>    
                        
            </div>
