<!DOCTYPE HTML>
<html>
    <head>
      
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>SwMOReptiles.com</title>
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
        <link type="text/css" rel="stylesheet" href="/css/style.css" >
    </head>
    <body>
      <div class="jumbotron bg-dark">
        <div class="row">
          <div class="col-md-6" id="">
            test
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark font bordergreen">
  <div class="container">
    <a class="navbar-brand" href="/">SWMOReptiles</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <%if (!currentUser){%>
        <li class="nav-item">
          <a class="nav-link" href="/">Our Story</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="/snake">Shop</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="/videos">Videos</a>
        </li>
        
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign up</a>
        </li>
        </ul>
          <!--<% } if (current user && currentUser.isAdmin) {%>-->

          
          
          
          
          <% } else { %>
          <ul>
        <li class="nav-item">
          <a class="nav-link" href="/snake">Home</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" href="">Welcome: <%= currentUser.username%></a>
        </li> 
        <li class="nav-item ml-auto">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        </ul>
        <% } %>

      </ul>
    </div>
  </div>  
</nav>
