
body, html{
    background-image: url('/images/30724426_10216011979955505_4197986053988024320_n.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height:100%;
    width: 100%;
        background-color: black;
    overflow-y: scroll;
}
.rocksalt{
    font-family: 'Quando', serif;
    font-size: 18pt;
}
.font1{
    font-family: 'Ubuntu Mono', monospace;
}
.fontbold{
    font-weight: bold;
}
.center{
    text-align: center;
    margin: 0 auto;
}
.padded{
    padding: 4px;
}
#bottom{
    margin-bottom: 80px;
}
.card{
   background-color: white;
}
.jumbotron{
    background-color: #95a5a6 !important;
    margin-bottom: 0px;
    border-radius:0px;
    min-height: 250px;
}
.shippingCost {
    background-color: rgba(51, 102, 50, .2);
    border-radius: 15px;
    border:1px solid rgba(51, 102, 50, .5);
}
/*        Custom nav bar colors         */
.navbar-custom {
    background-color: rgba(65, 65, 65, .8);
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler-icon{
  border-color: #565656;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #000000;

}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgb(207, 83, 0);
    font-weight: bold;
 
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

/* for dropdown only - change the color of dropdown */
.navbar-custom .dropdown-menu {
    background-color: #ff5500;
}
.navbar-custom .dropdown-item {
    color: #ffffff;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #333333;
    background-color: rgba(255,255,255,.5);
}
.bottomGutter{
 margin-bottom: 15px;   
}
#delete{
    float: center;
}
#brand{
    font-size: 1.5em;
}
input[type=file]{
    border-radius: 50px;
}

.graybg{
        background-color: 	rgba(128, 128, 128, .9);
}
.blackbg{
        background-color: 	rgba(0, 0, 0, .6);
}
.bumper{
    padding: 10px 8px;
    border-radius: 15px;
}
.roundme{
    border-radius: 15px;
}