body{
    background-color: darkgray;
    height:100%;
    width: 100%;
}
.center{
    text-align: center;
    margin: 0 auto;
}
.padded{
    padding: 4px;
}
#bottom{
    margin-bottom: 80px;
}
.card{
   background-color: white;
}